<div class="table-container">
  <div class="table-actions">
    <button mat-button color="primary" (click)="clearAllFilters()">
      Clear All Filters
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container *ngFor="let col of columns" [matColumnDef]="col.name">
    <th mat-header-cell *matHeaderCellDef>
      <div class="header-cell-content">
        <span>{{ col.displayString }}</span>

        <!-- text input for normal columns -->
        <mat-form-field appearance="outline" *ngIf="col.type !== 'status'">
          <input matInput 
                 (keyup)="applyFilter($event, col.name)" 
                 [placeholder]="'Filter ' + col.displayString"
                 [value]="filterValues[col.name]">
          <button *ngIf="filterValues[col.name]" 
                  matSuffix 
                  mat-icon-button 
                  aria-label="Clear" 
                  (click)="clearFilter(col.name)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- dropdown for status columns -->
        <mat-form-field appearance="outline" *ngIf="col.type === 'status'">
          <mat-select (selectionChange)="applySelectFilter($event.value, col.name)" [value]="filterValues[col.name]" placeholder="{{'Filter ' + col.displayString}}">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let s of statusOptions" [value]="s">{{s}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element">{{ formatCell(element, col) }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
